aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.27.2
lyricsgenius
motor
psutil
pytube
lyricsgenius
motor
psutil
asBASE
googletrans
httpx[http2]==0.27.2
lyricsgenius
motor
pillow==9.5.0
psutil
py-tgcalls==2.0.6
python-dotenv
pyrogram==2.0.106
pykeyboard
telegraph==1.4.1
python-dotenv
pyyaml==5.3.1
pyromod~=1.5
telethon
requests
speedtest-cli
spotipy
numpy
schedule
pydub
playsound
tgcrypto
playsound
pydub
schedule
unidecode
yt-dlp
gpytranslate
youtube-search
youtube-search-python
SpeechRecognition
pytz
pySmartDL
wget
youtube-search-python
yt-dlp
